<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Playlists.NET" version="1.2.0" targetFramework="net46" />
  <package id="Vlc.DotNet.Core" version="3.0.0-develop268" targetFramework="net46" />
  <package id="Vlc.DotNet.Core.Interops" version="3.0.0-develop268" targetFramework="net46" />
  <package id="Vlc.DotNet.Forms" version="3.0.0-develop268" targetFramework="net46" />
  <package id="Vlc.DotNet.Wpf" version="3.0.0-develop268" targetFramework="net46" />
</packages>